<!DOCTYPE html>
<html>
<head>
	<title>Users Edit</title>
</head>
<body>
	<h1>Edit User {{ id }}</h1>
	<form action="#">
		<label>First Name:</label>
		<input type="text" name="first_name">
		<label>Last Name:</label>
		<input type="text" name="last_name">
		<label>Email:</label>
		<input type="text" name="email">
		<input type="submit" value="Update">
	</form>
	<form action="#">
		<input type="submit" value="Show">
	</form>
	<form action="#">
		<input type="submit" value="Go Back">
	</form>
</body>
</html>